#include <windows.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

// VERSIONINFO
#define VER_FILE_DESCRIPTION "Dash Faction crash handler"
#define VER_ORIGINAL_FILENAME "CrashHandler.exe"
#define VER_FILETYPE 0x1L // VFT_APP
#include <common/version.rc>
