---
Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-diagnostic-unused-private-field,

  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-avoid-bind,

  portability-*,

  bugprone-*,
  -bugprone-narrowing-conversions,

  readability-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix,
  -readability-named-parameter,
  -readability-use-anyofallof,
  -readability-isolate-declaration,

#HeaderFilterRegex: '^((?!/vendor/).)*$'
#HeaderFilterRegex: '^abc*$'
