/dist
/build*
/research
/out

# Visual Studio
*.sln
*.VC.*
ipch
.vs
*.vcxproj*
*.vcproj
*.sdf
*.pdb
*.idb
*.lib
*.aps

# Visual Studio Code
.vscode
CMakeSettings.json

# Closed-source Pure Faction anti-cheat support code
/game_patch/purefaction/ac/

# Experimental code
/game_patch/experimental
