bin
dist
obj
build
lib
premake-build
research

asm_test
docs
*.tbl
*.lnk

# Visual Studio
*.sln
*.VC.*
ipch
.vs
*.vcxproj*
*.vcproj
*.sdf
*.pdb
*.idb
*.lib
*.aps

# Visual Studio Code
.vscode

# Non-Open Source PF support code
main/pf.*
