/bin
/dist
/obj
/build*
/lib
/research

/docs
*.tbl
*.lnk

# Visual Studio
*.sln
*.VC.*
ipch
.vs
*.vcxproj*
*.vcproj
*.sdf
*.pdb
*.idb
*.lib
*.aps

# Visual Studio Code
.vscode

# Non-Open Source PF support code
game_patch/purefaction/*secret*

# Experimental code
game_patch/misc/experimental*
