#include <windows.h>
#include <commctrl.h>
#include "resources.h"

128 ICON "resources/icon.ico"

// Main frame top bar
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDD_MAIN_FRAME_TOP_BAR DIALOG 0, 0, 744, 21
STYLE DS_SETFONT | WS_CHILDWINDOW
FONT 8, "MS Sans Serif"
{
    LTEXT       "Mode:", 65535, 7, 4, 19, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX    1047, 33, 4, 43, 74, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "Coordinates:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 89, 4, 40, 12
    COMBOBOX    1041, 135, 4, 46, 56, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "Grid Size:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 196, 4, 32, 12
    COMBOBOX    1042, 232, 4, 43, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "meters", 1380, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 277, 4, 23, 12
    CONTROL     "Rotate By:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 313, 4, 37, 12
    COMBOBOX    1043, 350, 4, 29, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "degrees", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 384, 4, 27, 12
    CONTROL     "Camera Speed:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 427, 4, 51, 12
    COMBOBOX    1044, 480, 4, 35, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "m/s", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 518, 4, 15, 12
    //CONTROL     "To Move:  Hold ""M""", 65535, WC_STATIC, SS_LEFTNOWORDWRAP, 559, 4, 67, 12
    //CONTROL     "To Rotate:  Hold ""R""", 65535, WC_STATIC, SS_LEFTNOWORDWRAP, 643, 4, 67, 12
    PUSHBUTTON  "Save", 0xE103, 550, 4, 29, 14
    PUSHBUTTON  "Pack", 0x8083, 580, 4, 29, 14
    PUSHBUTTON  "Lighting", 0x807A, 615, 4, 39, 14
    PUSHBUTTON  "Play", 0x800B, 660, 4, 29, 14
    PUSHBUTTON  "Play (camera)", 0x8078, 690, 4, 49, 14
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDD_TRIGGER_PROPERTIES DIALOGEX 0, 0, 241, 380
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Trigger Properties"
FONT 8, "MS Sans Serif", 0, 0, 1
{
    LTEXT           "Script Name:", -1, 7, 9, 42, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        1042, 57, 7, 96, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Shape:", -1, 25, 28, 24, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1423, 57, 26, 57, 89, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN, WS_EX_LEFT
    AUTO3STATE      "One way", 1215, 123, 28, 44, 10, 0, WS_EX_LEFT
    GROUPBOX        "Sphere Size", -1, 7, 43, 86, 30, 0, WS_EX_LEFT
    LTEXT           "Radius:", -1, 15, 57, 25, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1204, 47, 54, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    GROUPBOX        "Box Size", -1, 7, 80, 227, 34, 0, WS_EX_LEFT
    LTEXT           "Width:", -1, 13, 94, 22, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1193, 41, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Depth:", -1, 83, 94, 22, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1312, 111, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Height:", -1, 155, 94, 24, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1311, 183, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Trigger resets", -1, 7, 124, 44, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1205, 55, 122, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "times (-1 = infinitely many)", -1, 96, 124, 80, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Trigger resets after", -1, 7, 146, 63, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1206, 71, 143, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds", -1, 111, 145, 28, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Activated By:", -1, 7, 168, 45, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1345, 60, 166, 96, 104, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN, WS_EX_LEFT
    LTEXT           "Key Name:", -1, 7, 185, 45, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        1234, 60, 182, 95, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Air Lock Room UID:", -1, 7, 217, 64, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1207, 76, 214, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Attached to UID:", -1, 7, 234, 54, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1210, 76, 231, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Use Clutter UID:", -1, 7, 251, 52, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1211, 76, 248, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "(clutter must exist for trigger to work)", -1, 116, 251, 118, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Button Active Time:", -1, 7, 267, 63, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1208, 76, 264, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds (-1 = remains changed)", -1, 116, 267, 102, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Inside Time:", -1, 7, 283, 39, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1209, 76, 281, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds", -1, 116, 283, 29, 8, SS_LEFT, WS_EX_LEFT
    AUTO3STATE      "Is NPC Trigger", 1214, 7, 301, 71, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Is Auto Trigger", 1415, 7, 312, 67, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Use Key Is Required To Activate Trigger", 1063, 7, 322, 143, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Player Weapon Activates Trigger", 1096, 7, 332, 120, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Player In Vehicle", 1130, 7, 342, 69, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Disabled", 1129, 7, 352, 43, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Always Show Range", 1128, 7, 362, 81, 10, 0, WS_EX_LEFT
    PUSHBUTTON      "Links", 1275, 184, 359, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", 1, 184, 7, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", 2, 184, 25, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Team:", -1, 7, 201, 21, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1691, 60, 198, 100, 56, WS_TABSTOP | CBS_DROPDOWNLIST, WS_EX_LEFT

    GROUPBOX        "Multiplayer Settings", -1, 154, 301, 80, 50, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Solo", IDC_TRIGGER_SOLO, 160, 312, 69, 10, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Clientside", IDC_TRIGGER_CLIENTSIDE, 160, 323, 69, 10, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Teleport", IDC_TRIGGER_TELEPORT, 160, 334, 69, 10, 0, WS_EX_LEFT
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDR_MAIN_MENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N", 57600
        MENUITEM "&Open...\tCtrl+O", 57601
        MENUITEM "&Save\tCtrl+S", 57603
        MENUITEM "Save &As...", 57604
        MENUITEM SEPARATOR
        MENUITEM "Recent File", 57616, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "A&utosave", 32845, CHECKED
        MENUITEM "&Play Level\tF7", 32779
        MENUITEM "Play Level from &Camera\tF8", 32888
        MENUITEM "Open &Dialogue Text\tF9", 32892
        MENUITEM SEPARATOR
        MENUITEM "Export as &VRML", 32893
        MENUITEM "Create &Level Packfile\tP", 32899
        MENUITEM SEPARATOR
        MENUITEM "E&xit", 57665
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo\tCtrl+Z", 57643
        MENUITEM "&Redo\tCtrl+Y", 57644
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", 57635
        MENUITEM "&Copy\tCtrl+C", 57634
        MENUITEM "&Paste\tCtrl+V", 57637
        MENUITEM "Delete\tDel", 32792
        MENUITEM SEPARATOR
        MENUITEM "&Morph\tCtrl+M", 32886
        MENUITEM SEPARATOR
        MENUITEM "Properties...\tCtrl+P", 32793
        MENUITEM "Level Properties...", 32801
    }
    POPUP "&Level"
    {
        MENUITEM "Remove lightmaps", 32835
        MENUITEM "Calculate Lightmaps\tL", 32836
        MENUITEM "Calculate Lighting (no shadows)", 32882
        MENUITEM "Calculate Lighting\tShift+L", 32837
        MENUITEM SEPARATOR
        MENUITEM "Calculate Maps and Light (no shadows)", 32889
        MENUITEM "Calculate Maps and Light\tCtrl+L", 32890
        MENUITEM SEPARATOR
        MENUITEM "Rebuild with hole lines", 32898
        MENUITEM "Check for holes", 32896
        MENUITEM "Remove hole check lines", 32895
    }
    POPUP "&View"
    {
        MENUITEM "Show Just Textures", 32861
        MENUITEM "Show Textures w/ Lightmaps", 32863
        MENUITEM "Show Just Lightmaps, no Textures", 32864
        MENUITEM "Show Rooms in Different Colors", 32865
        MENUITEM "Show Everything See-through", 32866
        MENUITEM SEPARATOR
        MENUITEM "Render Nothing (Except brushes)", 32879
        MENUITEM "Render Everything", 32867
        MENUITEM "Render Current Room Only", 32868
        MENUITEM "Render Using Portals (Like in-game)", 32869
        MENUITEM SEPARATOR
        MENUITEM "Don't Draw Portal Faces", 32872
        MENUITEM "Draw See-thru Portal Faces", 32873
        MENUITEM "Draw Non-see-thru Portal Faces", 32874
        MENUITEM SEPARATOR
        MENUITEM "Draw Sky (Like in-game)", 32877
        MENUITEM SEPARATOR
        MENUITEM "Use Multitexturing (If Possible)", 32878
        MENUITEM SEPARATOR
        MENUITEM "Show objects as &Bounding Boxes", 32891
        MENUITEM SEPARATOR
        MENUITEM "Show Path Node Connections", 32900
    }
    POPUP "&Tools"
    {
        MENUITEM "&Verify All Textures", 32847
        MENUITEM SEPARATOR
        MENUITEM "&Select Objects...", 32797
        MENUITEM "&Hide Objects...", 32802
        MENUITEM "Hide All Objects\tW", ID_HIDE_ALL_OBJECTS
        MENUITEM "Show All Objects\tShift+W", ID_SHOW_ALL_OBJECTS
        MENUITEM SEPARATOR
        MENUITEM "&Generate Report...", 32887
        MENUITEM SEPARATOR
        MENUITEM "&Preferences...", 32795
    }
    POPUP "&Help"
    {
        MENUITEM "Wiki - &Editing Main Page", ID_WIKI_EDITING_MAIN_PAGE
        MENUITEM "Wiki - &Hotkeys", ID_WIKI_HOTKEYS
        MENUITEM SEPARATOR
        MENUITEM "&About RED...", 57664
    }
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
128 ACCELERATORS
{
    "C",        57634, VIRTKEY, CONTROL
    "M",        32886, VIRTKEY, CONTROL
    "N",        57600, VIRTKEY, CONTROL
    "O",        57601, VIRTKEY, CONTROL
    "P",        32793, VIRTKEY, CONTROL
    "S",        57603, VIRTKEY, CONTROL
    "U",        32808, VIRTKEY, CONTROL
    "V",        57637, VIRTKEY, CONTROL
    VK_BACK,    57643, VIRTKEY, ALT
    VK_DELETE,  57635, VIRTKEY, SHIFT
    VK_F1,      57667, VIRTKEY
    VK_F6,      57680, VIRTKEY
    VK_F6,      57681, VIRTKEY, SHIFT
    VK_INSERT,  57634, VIRTKEY, CONTROL
    VK_INSERT,  57637, VIRTKEY, SHIFT
    "X",        57635, VIRTKEY, CONTROL
    "Y",        57644, VIRTKEY, CONTROL
    "Z",        57643, VIRTKEY, CONTROL

    // New accelerators
    "P",        32899, VIRTKEY
    "L",        32890, VIRTKEY, CONTROL
}

// VERSIONINFO
#define VER_FILE_DESCRIPTION "Dash Faction level editor patch"
#define VER_ORIGINAL_FILENAME "DashEditor.dll"
#define VER_FILETYPE 0x2L // VFT_DLL
#include <common/version/version.rc>
