#include <windows.h>
#include <commctrl.h>
#include "resources.h"

IDR_MAIN_FRAME ICON "resources/icon.ico"

// Main frame top bar
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDD_MAIN_FRAME_TOP_BAR DIALOG 0, 0, 744, 21
STYLE DS_SETFONT | WS_CHILDWINDOW
FONT 8, "MS Sans Serif"
{
    LTEXT       "Mode:", 65535, 7, 4, 19, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX    1047, 33, 4, 43, 74, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "Coordinates:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 89, 4, 40, 12
    COMBOBOX    1041, 135, 4, 46, 56, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "Grid Size:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 196, 4, 32, 12
    COMBOBOX    1042, 232, 4, 43, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "meters", 1380, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 277, 4, 23, 12
    CONTROL     "Rotate By:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 313, 4, 37, 12
    COMBOBOX    1043, 350, 4, 29, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "degrees", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 384, 4, 27, 12
    CONTROL     "Camera Speed:", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 427, 4, 51, 12
    COMBOBOX    1044, 480, 4, 35, 112, WS_TABSTOP | CBS_DROPDOWNLIST
    CONTROL     "m/s", 65535, WC_STATIC, SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 518, 4, 15, 12
    //CONTROL     "To Move:  Hold ""M""", 65535, WC_STATIC, SS_LEFTNOWORDWRAP, 559, 4, 67, 12
    //CONTROL     "To Rotate:  Hold ""R""", 65535, WC_STATIC, SS_LEFTNOWORDWRAP, 643, 4, 67, 12
    PUSHBUTTON  "Save", ID_FILE_SAVE, 550, 4, 29, 14
    PUSHBUTTON  "Pack", ID_CREATE_LEVEL_PACKFILE, 580, 4, 29, 14
    PUSHBUTTON  "Lighting", ID_CALCULATE_MAPS_AND_LIGHT, 615, 4, 39, 14
    PUSHBUTTON  "Play", 0x800B, 660, 4, 29, 14
    PUSHBUTTON  "Play (camera)", 0x8078, 690, 4, 49, 14
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDD_TRIGGER_PROPERTIES DIALOGEX 0, 0, 241, 380
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Trigger Properties"
FONT 8, "MS Sans Serif", 0, 0, 1
{
    LTEXT           "Script Name:", -1, 7, 9, 42, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        1042, 57, 7, 96, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Shape:", -1, 25, 28, 24, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1423, 57, 26, 57, 89, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN, WS_EX_LEFT
    AUTO3STATE      "One way", 1215, 123, 28, 44, 10, 0, WS_EX_LEFT
    GROUPBOX        "Sphere Size", -1, 7, 43, 86, 30, 0, WS_EX_LEFT
    LTEXT           "Radius:", -1, 15, 57, 25, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1204, 47, 54, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    GROUPBOX        "Box Size", -1, 7, 80, 227, 34, 0, WS_EX_LEFT
    LTEXT           "Width:", -1, 13, 94, 22, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1193, 41, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Depth:", -1, 83, 94, 22, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1312, 111, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Height:", -1, 155, 94, 24, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1311, 183, 91, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Trigger resets", -1, 7, 124, 44, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1205, 55, 122, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "times (-1 = infinitely many)", -1, 96, 124, 80, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Trigger resets after", -1, 7, 146, 63, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1206, 71, 143, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds", -1, 111, 145, 28, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Activated By:", -1, 7, 168, 45, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1345, 60, 166, 96, 104, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN, WS_EX_LEFT
    LTEXT           "Key Name:", -1, 7, 185, 45, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        1234, 60, 182, 95, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Air Lock Room UID:", -1, 7, 217, 64, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1207, 76, 214, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Attached to UID:", -1, 7, 234, 54, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1210, 76, 231, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "Use Clutter UID:", -1, 7, 251, 52, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1211, 76, 248, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "(clutter must exist for trigger to work)", -1, 116, 251, 118, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Button Active Time:", -1, 7, 267, 63, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1208, 76, 264, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds (-1 = remains changed)", -1, 116, 267, 102, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Inside Time:", -1, 7, 283, 39, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Static", 1209, 76, 281, 37, 14, SS_LEFT, WS_EX_CLIENTEDGE
    LTEXT           "seconds", -1, 116, 283, 29, 8, SS_LEFT, WS_EX_LEFT
    AUTO3STATE      "Is NPC Trigger", 1214, 7, 301, 71, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Is Auto Trigger", 1415, 7, 312, 67, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Use Key Is Required To Activate Trigger", 1063, 7, 322, 143, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Player Weapon Activates Trigger", 1096, 7, 332, 120, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Player In Vehicle", 1130, 7, 342, 69, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Disabled", 1129, 7, 352, 43, 10, 0, WS_EX_LEFT
    AUTO3STATE      "Always Show Range", 1128, 7, 362, 81, 10, 0, WS_EX_LEFT
    PUSHBUTTON      "Links", 1275, 184, 359, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", 1, 184, 7, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", 2, 184, 25, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Team:", -1, 7, 201, 21, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        1691, 60, 198, 100, 56, WS_TABSTOP | CBS_DROPDOWNLIST, WS_EX_LEFT

    GROUPBOX        "Multiplayer Settings", -1, 154, 301, 80, 50, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Solo", IDC_TRIGGER_SOLO, 160, 312, 69, 10, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Clientside", IDC_TRIGGER_CLIENTSIDE, 160, 323, 69, 10, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Is Teleport", IDC_TRIGGER_TELEPORT, 160, 334, 69, 10, 0, WS_EX_LEFT
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDD_LEVEL_PROPERTIES DIALOGEX 0, 0, 298, 320
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Level Properties"
FONT 8, "MS Sans Serif"
{
    LTEXT           "Level Name:", -1, 7, 9, 41, 8
    EDITTEXT        1095, 64, 7, 96, 14, ES_AUTOHSCROLL
    LTEXT           "Author:", -1, 7, 27, 37, 8
    EDITTEXT        1094, 64, 25, 96, 14, ES_AUTOHSCROLL
    LTEXT           "Date:", -1, 7, 44, 18, 8
    LTEXT           "Date", 1026, 64, 44, 96, 8
    GROUPBOX        "Ambient Light", -1, 7, 57, 284, 49
    LTEXT           "Color:", -1, 25, 72, 19, 8
    CONTROL         "List1", 1088, WC_LISTVIEW, WS_BORDER | LVS_NOSCROLL | LVS_ICON, 87, 69, 40, 14, WS_EX_STATICEDGE
    PUSHBUTTON      "Change Color", 1086, 133, 69, 50, 14
    EDITTEXT        1652, 189, 69, 57, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Default", 1091, 133, 86, 50, 14
    AUTOCHECKBOX    "Directional Light", 1214, 189, 88, 67, 10, NOT WS_VISIBLE
    GROUPBOX        "Distance Based Fog", -1, 7, 111, 284, 63
    LTEXT           "Color:", -1, 23, 126, 19, 8
    CONTROL         "List1", 1090, WC_LISTVIEW, WS_BORDER | LVS_NOSCROLL | LVS_ICON, 88, 120, 40, 14, WS_EX_STATICEDGE
    PUSHBUTTON      "Change Color", 1089, 133, 120, 50, 14
    EDITTEXT        1653, 189, 120, 56, 14, ES_AUTOHSCROLL
    LTEXT           "Near Clip Plane:", -1, 23, 140, 52, 8
    LTEXT           "Static", 1616, 88, 137, 40, 14
    LTEXT           "(PS2 Only)", -1, 133, 140, 34, 8
    LTEXT           "Far Clip Plane", -1, 24, 157, 44, 8
    LTEXT           "Static", 1205, 88, 154, 40, 14
    GROUPBOX        "Level Flags", -1, 7, 177, 284, 30
    PUSHBUTTON      "Outside", 1215, 23, 189, 47, 14
    PUSHBUTTON      "Inside", 1217, 84, 189, 47, 14
    LTEXT           "Default texture:", -1, 7, 217, 49, 8
    EDITTEXT        1096, 63, 213, 96, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", 1087, 161, 213, 40, 14
    LTEXT           "Hardness:", -1, 7, 235, 33, 8
    EDITTEXT        1083, 63, 233, 40, 14, ES_AUTOHSCROLL
    CONTROL         "Spin3", 1157, UPDOWN_CLASS, UDS_ARROWKEYS, 103, 233, 11, 14
    LTEXT           "Range From 0 to 100 (0 - softest, 100 - hardest)", -1, 122, 234, 150, 8
    AUTOCHECKBOX    "&Multiplayer Level", 1670, 7, 252, 105, 10
    DEFPUSHBUTTON   "OK", IDOK, 241, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 241, 24, 50, 14

    GROUPBOX        "Compatibility Options", IDC_STATIC, 7, 270, 150, 35
    AUTOCHECKBOX    "Lightmaps Full Depth", IDC_LEVEL_LIGHTMAPS_FULL_DEPTH, 23, 285, 100, 10
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDR_MAIN_FRAME MENU
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Recent File", ID_FILE_MRU_FIRST, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "A&utosave", 0x804D, CHECKED
        MENUITEM "&Play Level\tF7", 0x800B
        MENUITEM "Play Level from &Camera\tF8", 32888
        MENUITEM "Open &Dialogue Text\tF9", 32892
        MENUITEM SEPARATOR
        MENUITEM "Export as &VRML", 32893
        MENUITEM "Create &Level Packfile\tCtrl+Shift+S", ID_CREATE_LEVEL_PACKFILE
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_APP_EXIT
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y", ID_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM "Delete\tDel", 32792
        MENUITEM SEPARATOR
        MENUITEM "&Morph\tCtrl+M", 32886
        MENUITEM SEPARATOR
        MENUITEM "Properties...\tCtrl+P", 32793
        MENUITEM "Level Properties...", 32801
    }
    POPUP "&Level"
    {
        MENUITEM "Remove lightmaps", 32835
        MENUITEM "Calculate Lightmaps\tL", 32836
        MENUITEM "Calculate Lighting (no shadows)", 32882
        MENUITEM "Calculate Lighting\tShift+L", 32837
        MENUITEM SEPARATOR
        MENUITEM "Calculate Maps and Light (no shadows)", 32889
        MENUITEM "Calculate Maps and Light\tCtrl+Shift+L", ID_CALCULATE_MAPS_AND_LIGHT
        MENUITEM SEPARATOR
        MENUITEM "Rebuild with hole lines", 32898
        MENUITEM "Check for holes", 32896
        MENUITEM "Remove hole check lines", 32895
    }
    POPUP "&View"
    {
        MENUITEM "Show Just Textures", 32861
        MENUITEM "Show Textures w/ Lightmaps", 32863
        MENUITEM "Show Just Lightmaps, no Textures", 32864
        MENUITEM "Show Rooms in Different Colors", 32865
        MENUITEM "Show Everything See-through", 32866
        MENUITEM SEPARATOR
        MENUITEM "Render Nothing (Except brushes)", 32879
        MENUITEM "Render Everything", 32867
        MENUITEM "Render Current Room Only", 32868
        MENUITEM "Render Using Portals (Like in-game)", 32869
        MENUITEM SEPARATOR
        MENUITEM "Don't Draw Portal Faces", 32872
        MENUITEM "Draw See-thru Portal Faces", 32873
        MENUITEM "Draw Non-see-thru Portal Faces", 32874
        MENUITEM SEPARATOR
        MENUITEM "Draw Sky (Like in-game)", 32877
        MENUITEM SEPARATOR
        MENUITEM "Use Multitexturing (If Possible)", 32878
        MENUITEM SEPARATOR
        MENUITEM "Show objects as &Bounding Boxes", 32891
        MENUITEM SEPARATOR
        MENUITEM "Show Path Node Connections", 32900
    }
    POPUP "&Tools"
    {
        MENUITEM "&Verify All Textures", 0x804F
        MENUITEM SEPARATOR
        MENUITEM "&Select Objects...", 0x801D
        MENUITEM "Select Object by UID\tU", ID_SELECT_OBJECT_BY_UID
        MENUITEM "Invert Selection\tI", ID_INVERT_SELECTION
        MENUITEM SEPARATOR
        MENUITEM "&Hide Objects...", 0x8022
        MENUITEM "Hide All Objects\tW", ID_HIDE_ALL_OBJECTS
        MENUITEM "Show All Objects\tShift+W", ID_SHOW_ALL_OBJECTS
        MENUITEM "Hide Selected\tH", ID_HIDE_SELECTED

        MENUITEM SEPARATOR
        MENUITEM "&Generate Report...", 0x8077
        MENUITEM SEPARATOR
        MENUITEM "&Preferences...", 0x801B
    }
    POPUP "&Help"
    {
        MENUITEM "Wiki - &Editing Main Page\tF1", ID_WIKI_EDITING_MAIN_PAGE
        MENUITEM "Wiki - &Hotkeys", ID_WIKI_HOTKEYS
        MENUITEM SEPARATOR
        MENUITEM "&About RED...", ID_APP_ABOUT
    }
}

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
IDR_MAIN_FRAME ACCELERATORS
{
    "C",        ID_EDIT_COPY, VIRTKEY, CONTROL
    "M",        0x8076, VIRTKEY, CONTROL
    "N",        ID_FILE_NEW, VIRTKEY, CONTROL
    "O",        ID_FILE_OPEN, VIRTKEY, CONTROL
    "P",        0x8019, VIRTKEY, CONTROL
    "S",        ID_FILE_SAVE, VIRTKEY, CONTROL
    "U",        0x8028, VIRTKEY, CONTROL
    "V",        ID_EDIT_PASTE, VIRTKEY, CONTROL
    VK_BACK,    ID_EDIT_UNDO, VIRTKEY, ALT
    VK_DELETE,  ID_EDIT_CUT, VIRTKEY, SHIFT
    VK_F1,      ID_WIKI_EDITING_MAIN_PAGE, VIRTKEY
    VK_F6,      ID_NEXT_PANE, VIRTKEY
    VK_F6,      ID_PREV_PANE, VIRTKEY, SHIFT
    VK_INSERT,  ID_EDIT_COPY, VIRTKEY, CONTROL
    VK_INSERT,  ID_EDIT_PASTE, VIRTKEY, SHIFT
    "X",        ID_EDIT_CUT, VIRTKEY, CONTROL
    "Y",        ID_EDIT_REDO, VIRTKEY, CONTROL
    "Z",        ID_EDIT_UNDO, VIRTKEY, CONTROL

    // New accelerators
    "S",        ID_CREATE_LEVEL_PACKFILE, VIRTKEY, CONTROL, SHIFT
    "L",        ID_CALCULATE_MAPS_AND_LIGHT, VIRTKEY, CONTROL, SHIFT
}

// VERSIONINFO
#define VER_FILE_DESCRIPTION "Dash Faction Level Editor Patch"
#define VER_ORIGINAL_FILENAME "DashEditor.dll"
#define VER_FILETYPE 0x2L // VFT_DLL
#include <common/version/version.rc>
